* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.photos{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.photos li{
    max-width: 200px;
    width: 100%;
}

.photos li img{
    width: 100%;
}

.main{
    opacity: 0;
    transform: scale(0);
    position: relative;
    transition: .3s linear;
    width: 100%;
}

.active{
    opacity: 1;
    transform: scale(1);
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    opacity: .8;
    color: #fff;
    font-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.main img{
    width: 100%;
}