*{
    margin: 0;
    padding: 0;
}

.accordeon{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.accordeon__elem{
    margin: 5px 0;
    border: 1px solid #000;
    transition: .3s linear;
}

.title{
    font-size: 1.1rem;
    padding: 10px;
    box-sizing: border-box;
    background: #909090;
}

.text{
    font-size: 0.9rem;
    margin-top: 5px;
    /* transform: scale(1); */
    transition: .3s linear;
    padding-left: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.accordeon__elem.hide .text{
    /* transform: scale(0); */
    height: 0px;
    margin-top: 0;
}