*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.tags{
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

.tags li{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #0003;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

.tags li:hover{
    background: #5e5e5e;
}

.tags .tag-active{
    background: #5e5e5e;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    transition: .3s linear;
}

.card{
    max-width: 300px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: .3s linear;
}

.card .img{
    width: 100%;
}

img{
    width: 100%;
}

.title{
    text-align: center;
}

.hide{
    transform: scale(0);
    opacity: 0;
    width: 0;
    padding: 0;
}

.none{
    display: none;
}